# Registry (for CI/CD)
DOCKER_REGISTRY=ghcr.io/doganai
DOCKER_USERNAME=__set_in_ci_only__
DOCKER_PASSWORD=__set_in_ci_only__

# App
PORT=3000
JWT_SECRET=your_jwt_secret_here

# DB
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_PORT=5432
DATABASE_URL=postgresql://your_db_user:your_db_password@db:5432/your_db_name

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Kubernetes
K8S_NAMESPACE=doganai-compliance

# App specific
NODE_ENV=development
